<div class="card bg-base-100 shadow-xl bg-content-block rounded-xl">
  <div class="card-body">

    <h2 class="card-title justify-center">Marketing & Enrollment Team</h2>

    <!-- buttons bar -->
    <div class="flex justify-between pt-6">
      <div class="text-lg my-auto">
        Member Settings:
      </div>
      <div>
        <button class="btn-primary btn-md rounded-lg text-lg">+ Add Member</button>
        <button class="btn-secondary btn-md rounded-lg ml-12 text-lg">Edit Members</button>
      </div>
    </div>

    <div class="text-lg pt-12">
      <h1>Outreach Specialist:</h1>
      <h1>Enrolemnt Specialist:</h1>
      <h1>Registered Nurse:</h1>
    </div>

  </div>
</div>
