<div class="card bg-gradient-to-br from-slate-300 to-slate-200 rounded-xl">
  <div class="card-body">
    <h2 class="card-title justify-center">Demographics</h2>
    <p class="justify-start text-sm">Medical Record #:</p>
    <p class="justify-start text-sm">Date of Birth:</p>
    <p class="justify-start text-sm">Age:</p>
    <p class="justify-start text-sm">Gender:</p>
    <p class="justify-start text-sm">Address:</p>
    <p class="justify-start text-sm">Phone:</p>
    <p class="justify-start text-sm">Phone 2:</p>
    <p class="justify-start text-sm">Emergency #:</p>
    <p class="justify-start text-sm">Email:</p>

  </div>
</div>
