<div class="card border-2 border-primary rounded-md">
  <div class="card-body">
    <h2 class="card-title justify-center">Demographics</h2>
    <p class="justify-start">Medical Record Number:</p>
    <p class="justify-start">Date of Birth:</p>
    <p class="justify-start">Age:</p>
    <p class="justify-start">Gender:</p>
    <p class="justify-start">Address:</p>
    <p class="justify-start">Primary Phone:</p>
    <p class="justify-start">Secondary Phone:</p>
    <p class="justify-start">Emergency Contact:</p>
    <p class="justify-start">Email:</p>

  </div>
</div>
