<div class="card bg-base-100 shadow-xl bg-content-block rounded-xl">
  <div class="card-body">

    <h2 class="card-title justify-center text-3xl pt-4">Daily Notes</h2>

    <!-- buttons bar -->
    <div class="flex justify-between pt-6">
      <div class="text-lg my-auto">
      </div>
      <div>
        <button class="btn-primary btn-md rounded-lg text-lg" >+ Add Note</button>
        <button class="btn-secondary btn-md rounded-lg ml-3 text-lg">Filter Notes</button>
      </div>
    </div>

    <div class="text-lg pt-12">
      <h1>1:</h1>
      <h1>2:</h1>
      <h1>3:</h1>
    </div>

  </div>
</div>
