<div class="flex justify-start">

  <!-- COL 1 -->
  <div class="w-1/4">

    <app-patient-photo></app-patient-photo>
    <div class="pb-4"></div>

    <app-patient-demographics></app-patient-demographics>
    <div class="pb-4"></div>

    <app-upcoming-appointments></app-upcoming-appointments>

  </div>

  <!-- COL 2 -->
  <div class="ml-12 w-full">

    <app-marketing-enrollment></app-marketing-enrollment>
    <div class="pb-4"></div>

    <app-interest-level></app-interest-level>
    <div class="pb-4"></div>

    <app-daily-notes></app-daily-notes>
    <div class="pb-4"></div>

    <app-enrollment-evaluation></app-enrollment-evaluation>
    <div class="pb-4"></div>

    <app-level-of-care></app-level-of-care>
    <div class="pb-4"></div>

    <app-additional-participant-info></app-additional-participant-info>
    <div class="pb-4"></div>



  </div>
</div>
